.iconButton {
    width: 50%;
    min-height: 56px;
    border-left: 1px solid #e8e8e7;
    --box-shadow: none;
    margin: 0;
}

.toolbar1 {
    border: 1px solid #e8e8e7;
}

.title {
    font-size: medium;
    text-align: left;
    height: 100%;
}