.customContent {
    --padding-top: 4px;
    --padding-bottom: 2px;
    --padding-start: 2px;
    --padding-end: 2px;
}


.iconButton {
    width: 50%;
    min-height: 56px;
    border-left: 1px solid #e8e8e7;
    --box-shadow: none;
    margin: 0;
}

// .toolbar {
//     border: 1px solid #e8e8e7;
// }

.title {
    font-size: medium;
    text-align: left;
    height: 100%;
}