<ion-header>
  <ion-toolbar>
    <ion-title>Dil Seçiniz</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="background ion-align-items-center ion-justify-content-center">
  <!--  <button (click)="backButtonTapped()" class="back-button">
    <ion-icon class="back-button-icon" name="arrow-back"></ion-icon>
  </button>-->
  <ion-grid class="ion-align-items-center ion-justify-content-center langFrame">
    <ion-list *ngFor="let language of languages" style="margin-bottom: 10px;">
      <ion-item ion-button (click)="changeLanguage(language.code)" lines="none">
        <ion-avatar slot="start">
          <img src="{{language.flag}}">
        </ion-avatar>
        <ion-label style="font-size: x-large; ">
          {{language.lang}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>

</ion-content>