<ion-app>

  <ion-menu menuId="main-menu" content-id="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="./assets/img/logo.jpg" alt="">
        <ion-label>
          <h2>Mobile Healty </h2>
          <p>Meta Office</p>
        </ion-label>
      </div>
      
      <ion-list *ngFor="let item of (subjects | slice :0)">

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="{{item.url}}" style="font-family: Arial, Helvetica, sans-serif; color: black;">
            {{item.name}}
          </ion-item>
        </ion-menu-toggle> 


      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
  
</ion-app> 