.swiper-slide {
    display: block;
  }

  ion-slide > h2 {
    margin-top: 2.8rem;
  }

  ion-slide > img {
    max-height: 60%;
    max-width: 80%;
    margin: 36px 0;
  }

  .intro-text{
    color: black;
    font-size: 24px;
    font-family: sans-serif;
  }
  .slider-content{
    display: flex;
    height: 85%;
  }
  .skip{
    height: 50px; 
    background-color: #004E98; 
    color: white; 
    border-radius:8px; 
    margin-top: 10px; 
    width: 120px; 
    max-width: 200px;
  }

  ion-slides {
    --bullet-background: #004E98;
    --bullet-background-active:  #147ada;
 }

 ion-content.background{
    --background: url(../../../assets/img/select-language-bg.png) 0 0/100% 100% no-repeat;
    background-color:#147ada ;
}
