<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="title"> {{ 'NEW_PASSWORD' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exitModal()">
        <ion-icon style="color: #828282" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="app-background-color">

  <h4 style="margin: 5px; color: rgb(0, 0, 0); align-items: center; text-align: center;">{{ 'PASSCODE.CREATE_4_DIGIT' | translate }}</h4>
  <ion-item color="input" style="box-shadow: var(--box-shadow);width: 40%; margin-left: 30%;">
    <ion-input clearInput  [(ngModel)]="passCode" type="number" maxlength="4" max="4" (ngModelChange)="change($event)"></ion-input>
  </ion-item> 
  <br>

  <ion-button [disabled]="(passCode==null || passCode.toString().length!=4   )" expand="block"
    style="margin-left: 10%; margin-right: 10%;"
    [color]="(passCode==null || passCode.toString().length!=4   ) ? 'medium' : 'success'" (click)="passChange()"><strong
      style="color: rgb(56, 134, 24);">
      {{ 'CONFIRM' | translate }}</strong></ion-button>


</ion-content>